<div class="container">
<div class="row-fluid">
<div class="page-header">
<h1>Mannual Book<small> Only 3 minutes (Version 0.4)</small></h1>
</div>
<div class="row-fluid cse-word">
	<div class="span10">
 <p class="cse-word"><strong>Cookgoogle helps to find, create and share custom search engines, types
	like <%= link_to @hash_node['interests'].title, node_path(@hash_node['interests']), target: '_blank' %>, eg. <%= link_to @hash_tag['games'].name, tag_path(@hash_tag['games']), target: '_blank' %>，
	<%= link_to @hash_tag['movies'].name, tag_path(@hash_tag['movies']), target: '_blank' %>, etc.
	<%= link_to @hash_node['jobs'].title, node_path(@hash_node['jobs']), target: '_blank' %>, eg.
	<%= link_to @hash_tag['programmer'].name, tag_path(@hash_tag['programmer']), target: '_blank' %>
	<%= link_to @hash_tag['accountant'].name, tag_path(@hash_tag['accountant']), target: '_blank' %> etc.
	or <%= link_to @hash_node['share'].title, node_path(@hash_node['share']), target: '_blank' %>, eg. 
	<%= link_to @hash_tag['medical'].name, tag_path(@hash_tag['medical']), target: '_blank' %>
	<%= link_to @hash_tag['shopping'].name, tag_path(@hash_tag['shopping']), target: '_blank' %> etc.
	</strong></p>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
	<ul>
	<li>
	<h4>Home Layout</h4>
	<p>There are nodes which contains many tags. <a href="#dashboard-intro">The Dashboard</a> on the right side is covered on the next section.</p>
	<div><%= image_tag 'help-left-en.png', width: '90%' %></div>
	</li>
	<li id="dashboard-intro">
	<h4>Dashboard</h4>
	<p>You will get some recommended custom search engines when you come here for the first time.</p>
	<div><%= image_tag 'help-right01-en.png' %></div>
	<p>You can follow or <a href="#help-clone">clone</a> an existing custom search engine.</p>
	<blockquote>
		<div class="muted">Only registered users can clone custom search engines.</div>
	</blockquote>
	<div><%= image_tag 'help-keep-en.png' %></div>
	
	<p><br/>
	On <%= link_to 'CSE Management Panel', cses_path %>, you can drag and drop the followed custom search engine to the dashboard.</p>
	<blockquote>
		<div class="muted">There is upper limit on the dashboard and followed custom search engine count.</div>
	</blockquote>
	<div><%= image_tag 'help-dashboard-en.png', width: '90%' %></div><br/>
	<p>You can active the custom search engine by click the search icon. Ok, you can <a href="#help-search">search</a> now!</p>
	<div><%= image_tag 'help-link-en.png' %></div>
	</li>
	<li id="help-search">
	<h4>Search Now!</h4>
	<p>You can begin search by the following 3 ways: </p>
	<ol>
	<li><strong>Navigator</strong>
	<div><%= image_tag 'help-search01-en.png' %></div><br/>
	</li>
	<li><strong>Dashboard</strong>
	<div><%= image_tag 'help-search02-en.png' %></div><br/>
	</li>
	<li><strong>Try Search Button</strong>
		<p>In the show page, click the search icon to start search.</p>
	<div><%= image_tag 'help-search03-en.png' %></div><br/>
	<p>In the list page, click the *try search* button to start search.</p>
	<div><%= image_tag 'help-search03-2-en.png' %></div>
	</li>
	</ol>
	</li>
	<li id="help-create"><h4>Create your custom search engine</h4>
	<p>Click the button to start.</p>
	<div><%= image_tag 'help-create-en.png' %></div><br/>
	<p>Say you want to create a custom search engine for searching videos about the game *Dota*.</p>
	<div><%= image_tag 'help-create01-en.png' %></div><br/>
	<p><a href="https://developers.google.com/custom-search/docs/refinements#overview">Refinement Labels</a>
	helps group search results. You can take a further control on search results by  
	<a href="https://developers.google.com/custom-search/docs/ranking#mode">Mode</a>: </p>
	<dl class="dl-horizontal">
	<dt>Filter</dt>
	<dd>There are only filter-tagged web resources to be shown in search results.</dd>
	<dt>Exclude</dt>
	<dd>Exclude-tagged web resources can't be shown in search results.</dd>
	<dt>Boost</dt>
	<dd>All web resources you defined in the annotations are shown in search results. <br/>In case that you enable full web search, other web resources ranked by Google <br/>come to your search results.</dd>
	</dl>
	<div><%= image_tag 'help-label-en.png' %></div><br/>
	<p>The web resource is URL. You can use wild-card * to march a serial URLs. The refinement labels can be empty.<br/>
	<a href="https://developers.google.com/custom-search/docs/ranking#score">Score</a> impacts the search rank.
	</p>
	<div><%= image_tag 'help-annotations-en.png' %></div><br/>
	<p>You can choose one of the following seven themes for your custom search engine.</p>
	<div><%= image_tag 'help-look-en.png' %></div><br/>
	<p><strong>Please share your custom search engine after creating so that other guys can use it except you want to keep it private.</strong></p>
	<div><%= image_tag 'help-share-en.png' %></div><br/>
	</li>
	<li id="help-clone"><h4>Clone a custom search engine</h4>
	<p>You can refine and optimize an exist custom search engine by cloning it if you have been registered.</p>
	<div><%= image_tag 'help-clone-en.png' %></div><br/>
	<p>You will be redirected to the edit page after cloning successfully. All the settings are the same as <a href="#help-create">creating</a></p>
	<blockquote>
		<div class="muted">Change the name of your cloned custom search engine in order to diffrentiate from the origin one.</div>
	</blockquote>
	<p>You can also share the cloned custom search engine, and the origin one will be displayed.</p>
	</li>
	</ul>
<h4><strong>Done! For any questions, please contact <a href="mailto: firsthym@gmail.com">me</a>.</strong></h4>
</div>
</div>
</div>
</div>
