<%= form_for :session, url: sessions_path do |f|%>
<div class="row">
      <div class="span3 offset1">
<div class="control-group">
	<%= f.label :email, I18n.t('mongoid.attributes.user.email') %>
	<div class="controls">
		<%= f.text_field :email, class: 'span3' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password, I18n.t('mongoid.attributes.user.password') %>
	<div class="controls">
		<%= f.password_field :password, class: 'span3' %>
	</div>
</div>
<div class="control-group">
<div class="controls">
	<%= f.submit I18n.t('human.controls.link.signin'), class: 'btn btn-primary btn-large' %>
</div>
</div>
</div>
</div>
<% end %>