<div class="cse-divider"></div>
<div class="row-fluid">
	<div class="span2">
		<%= get_avatar(reply.user, 'medium') %>
	</div>
	<div class="span10">
		<div class="row-fluid">
			<%= link_to reply.user.username, reply.user %><small class="muted"><%= reply.user.mood.present? ? " (#{reply.user.mood})" : "" %></small><span class="divider">•</span><span class="muted"><%=  time_ago_in_words(reply.created_at)%></span><span class="badge badge-important pull-right"><%= reply.index %></span>
		</div>
		<div class="row-fluid">
			<%= simple_format(h(reply.body)) %>
		</div>
	</div>
</div>