<div class="container">
	<div class="row">
		<div class="span8 offset1">
			<div class="row">
				<ul class="unstyled">
					<%= Node.all.each do |n| %>
						<li>
							<%= link_to n.title %>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="row">
				<% @custom_search_engines.each do |cse| %>
				<p><%= cse.specification.title %></p>
				<p><%= cse.specification.description %></p>
				<%=link_to 'Edit', cse_edit_path(cse) %>
				<div class="cse-divider"></div>
			<% end %>
			</div>
		</div>
	</div>
</div>