<div class="container">
	<div class="row">
		<div class="span7 offset1">
			<div class="cse-box-padding well">
			<div class="row-fluid">
				<%= render 'nodes/header' %>
			</div>
			<div class="row-fluid">
				<%= render 'nodes/cse_body' %>
				<%= render 'nodes/topic_body' %>
			</div>
			<div class="row-fluid">
				<%= render 'nodes/footer' %>
			</div>
			</div>
		</div>
		<div class="span3">
			<%= render 'shared/dashboard' %>
		</div>
	</div>
</div>
