<%= cse_form.fields_for :specification do |spec_form| %>
  <div class="control-group">
    <%= spec_form.label :title, class: 'control-label' do %>
      <strong>*<%= I18n.t('human.text.title') %></strong><small class="cse-small"><%= I18n.t('human.text.title_what') %></small>
    <% end %>
      <div class="controls">
        <%= spec_form.text_field :title, class: "span3", placeholder: I18n.t('human.text.chars_limit', minimum:2, maximum: 10) %>
      </div>
  </div>

  <div class="control-group">
      <%= spec_form.label :description, class: 'control-label' do %>
        <strong>*<%= I18n.t('human.text.description') %></strong><small class="cse-small"><%= I18n.t('human.text.description_what') %></small>
      <% end %>
        <div class="controls">
          <%= spec_form.text_area :description, class: 'span5', size: '5x6', placeholder: I18n.t('human.text.chars_limit', minimum: 4, maximum: 255) %>
        </div>
  </div>
  <% end %>