<div class="row-fluid">
<div class="span10 cse-search-input">
  <input type="text" class="span12" id="cse-query" value="<%= @query %>"/>
</div>
<div class="btn-group span2">
    <a href="javascript:void(0)" class="btn" id="cse-go"><i class="icon-search"></i> <%= I18n.t("human.controls.link.search") %></a>
</div>
</div>
<% if @linked_cse.present? %>
<div class="row-fluid">
	<span class="muted"><%= I18n.t('human.text.linked_cse') %></span>
	<span id="linked-cse-desc">
	<%= render partial: 'shared/cse_info', locals: {cse: @linked_cse} %>
	</span>
</div>
<% end %>

<%= content_for :body_bottom_script do %>
<script type="text/javascript">
(function(){
	//bind search button
	$("#cse-go").click(function(){
	var q = $("#cse-query").val();
	if(q){
		search_url = 'http://' + window.location.host + '/q/' + q;
		window.location.href = search_url
	}
	});

	$('#cse-query').bind('keyup', function(e){
		if(e.keyCode == "13"){
			$('#cse-go').click();
		}
	});
})();
</script>
<% end %>
