<div class="control-group cse-annotations">
	<a href="javascript:void(0)" class="btn btn-primay" id="cse-add-annotation"><i class="icon-plus"></i> <%= I18n.t('human.text.annotation_add') %></a>
	<a href="javascript:void(0)" class="btn btn-primay" id="cse-del-annotation"><%= I18n.t('human.text.annotation_del') %></a>
	<div class="row-fluid">
	<div class="span12">
	<table class="table table-hover">
		<thead>
			<th><input type="checkbox" id="cse-checkbox-manager"/></th>
			<th><%= I18n.t('human.text.website') %></th>
			<th><%= I18n.t('human.text.mode') %></th>
		</thead>
		<%= cse_form.fields_for :annotations do |annotation_field| %>		
		<tbody>
			<tr>
				<td><%= annotation_field.check_box :_destroy, class: 'cse-checkbox-annotation' unless annotation_field.object.id == @custom_search_engine.annotations.first.id %></td>
				<td>
					<%= annotation_field.text_field :about, class: 'span10', placeholder: 'http://' %>
				</td>
				<td>
					<%= annotation_field.select :mode, [ [I18n.t('human.controls.select.filter'), 'filter'], [I18n.t('human.controls.select.exclude'), 'exclude'], [I18n.t('human.controls.select.boost'), 'boost'] ], selected: 'filter' %>
				</td>
			</tr>
		</tbody>		
		<% end %>
	</table>
	</div>
	</div>
</div>