<div class="control-group cse-annotations">
	<a href="#" class="btn btn-primay" id="cse-add-annotation"><i class="icon-plus"></i> <%= I18n.t('human.text.annotation_set') %></a>
	<div class="row">
	<div class="span5">
	<table class="table table-hover">
		<thead>
			<th><%= I18n.t('human.text.number') %></th>
			<th><%= I18n.t('human.text.website') %></th>
			<th><%= I18n.t('human.text.mode') %></th>
		</thead>
		<%= cse_form.fields_for :annotations do |anno_form| %>
		<tbody>
			<tr>
				<td>1</td>
				<td>
					<%= anno_form.text_field :about, class: 'span3', placeholder: 'http://' %>
				</td>
				<td>
					<%= anno_form.select :mode, [ [I18n.t('human.controls.select.filter'), 'filter'], [I18n.t('human.controls.select.exclude'), 'exclude'], [I18n.t('human.controls.select.boost'), 'boost'] ] %>
				</td>
			</tr>
		</tbody>		
		<% end %>
	</table>
	</div>
	</div>
</div>