<div class="control-group">
<%= cse_form.label :annotations, class: 'control-label' do %>
  <strong>*<%= I18n.t('human.text.cse_annotations') %></strong>
  <span class="cse-small"><%= I18n.t('human.text.cse_annotations_what') %></span>
<% end %>
<div class="controls cse-container-normal">
	<a href="javascript:void(0)" class="btn btn-primay cse-add-item"><i class="icon-plus"></i> <%= I18n.t('human.text.annotation_add') %></a>
	<a href="javascript:void(0)" class="btn btn-primay cse-del-item"><%= I18n.t('human.text.annotation_del') %></a>
	<table class="table table-hover">
		<thead>
			<th><input type="checkbox" class="cse-checkbox-manager"/></th>
			<th><%= I18n.t('human.text.website') %></th>
			<th><%= I18n.t('human.text.cse_labels') %></th>
			<th><%= I18n.t('human.text.score') %></th>
		</thead>
		<tbody class="hidden">
			<td><input type="checkbox" class="cse-checkbox-item"/></td>
			<td>
				<input class="cse-input" id="custom_search_engine_annotations_attributes_#_about" name="custom_search_engine[annotations_attributes][#][about]" placeholder="http://" size="30" type="text">
			</td>
			<td>
				<input class="cse-input new-cse-labels" id="custom_search_engine_annotations_attributes_#_labels" name="custom_search_engine[annotations_attributes][#][labels]" size="30" type="text">
			</td>
			<td>
				<input class="input-mini cse-input" id="custom_search_engine_annotations_attributes_#_score" name="custom_search_engine[annotations_attributes][#][score]" size="30" type="text" value="1">
			</td>
		</tbody>
		<%= cse_form.fields_for :annotations do |annotation_field| %>		
		<tbody>
			<tr>
				<td><%= annotation_field.check_box :_destroy, class: 'cse-checkbox-item' unless annotation_field.object.id == @custom_search_engine.annotations.first.id %></td>
				<td>
					<%= annotation_field.text_field :about, placeholder: 'http://', class: "cse-input" %>
				</td>
				<td>
					<%= annotation_field.text_field :labels, class: "cse-labels cse-input" %>
				</td>
				<td><%= annotation_field.text_field :score, class: "input-mini cse-input" %></td>
			</tr>
		</tbody>		
		<% end %>
	</table>
</div>
</div>
