<div class="control-group">
<%= cse_form.label :labels, class: 'control-label' do %>
      <strong><%= I18n.t('human.text.cse_labels') %></strong>
      <span class="cse-small"><%= I18n.t('human.text.cse_labels_what') %></span>
    <% end %>
<div class="controls cse-container-normal">
<a href="javascript:void(0)" class="btn btn-primay cse-add-item"><i class="icon-plus"></i> <%= I18n.t('human.text.label_add') %></a>
  <a href="javascript:void(0)" class="btn btn-primay cse-del-item"><%= I18n.t('human.text.label_del') %></a>
<table class="table">
<thead>
	<th><input type="checkbox" class="cse-checkbox-manager"/></th>
	<th><%= t('human.text.label_name') %></th>
	<th><%= t('human.text.label_mode') %></th>
</thead>
<tbody class="hidden">
<td><input type="checkbox" class="cse-checkbox-item"/></td>
<td><input class="cse-input cse-label-name" id="custom_search_engine_labels_attributes_#_name" name="custom_search_engine[labels_attributes][#][name]" size="30" type="text"></td>
<td><select class="cse-input input-small " id="custom_search_engine_labels_attributes_#_mode" name="custom_search_engine[labels_attributes][#][mode]"><option value="filter"><%= t('human.controls.select.filter') %></option>
<option value="exclude"><%= t('human.controls.select.exclude') %></option>
<option value="boost"><%= t('human.controls.select.boost') %></option></select></td>
</tbody>
<%= cse_form.fields_for :labels do |label_field| %>
	<tbody><tr>
		<td><input class='cse-checkbox-item' type="checkbox" />
		<%= label_field.hidden_field :_destroy %>
		</td>
		<td><%= label_field.text_field :name, class: "cse-input cse-label-name" %></td>
		<td><%= label_field.select :mode, [ [I18n.t('human.controls.select.filter'), 'filter'],
				 [I18n.t('human.controls.select.exclude'), 'exclude'], 
				 [I18n.t('human.controls.select.boost'), 'boost'] ], {}, 
				 class: "input-small cse-input" %></td>
	</tr></tbody>
<% end %>
</table>
</div>
</div>
