<%= form_for @custom_search_engine do |f| %>
  <%= render partial: 'shared/error_messages', locals: {errors: @custom_search_engine.errors, error_title: I18n.t('human.errors.cse_create')} %>
  <%= render partial: 'cse_specification', locals: {cse_form: f} %>

  <div class="cse-divider span5"></div>

  <!-- access setting start-->
  <div class="control-group">
    <div class="controls">
    <%= f.label :access_public do %>
        <%= f.radio_button :access, 'public', checked: true %>
        <strong><%= I18n.t('human.text.public') %></strong><small class="cse-small"><%= I18n.t('human.text.public_what') %></small>
    <% end %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.label :access_protected do %>
        <%= f.radio_button :access, 'protected' %>
        <strong><%= I18n.t('human.text.protected') %></strong><small class="cse-small"><%= I18n.t('human.text.protected_what') %></small>        
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.label :access_private do %>
      <%= f.radio_button :access, 'private' %>
      <strong><%= I18n.t('human.text.private')  %></strong><small class="cse-small"><%= I18n.t('human.text.private_what') %></small>      
    <% end %>
  </div>
  </div>
  <!-- access setting end -->
  <div class="cse-divider span5"></div>

  <%= render partial: 'cse_annotations', locals: {cse_form: f} %>

  <div class="control-group">
      <div class="controls">
        <%= f.submit I18n.t("human.controls.link.submit"), class: "btn btn-primary", id: "cse-create-submit" %>
      </div>
  </div>
<% end %>
