<%= form_for @custom_search_engine do |f| %>

  <div class="control-group">
    <%= f.label :category, '分类', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :category %>
    </div>
  </div>

  <%= fields_for @custom_search_engine.specification do |spec_form| %>
  <div class="control-group">
      <%= spec_form.label :title, '名称', class: 'control-label' %>
        <div class="controls">
          <%= spec_form.text_field :title %>
        </div>
  </div>

  <div class="control-group">
      <%= spec_form.label :description, '描述', class: 'control-label' %>
        <div class="controls">
          <%= spec_form.text_field :description %>
        </div>
  </div>
  <% end %>




  <div class="control-group">
      <div class="controls">
        <%= f.submit I18n.t("human.controls.link.submit"), class: "btn btn-primary" %>
      </div>
      </div>
<% end %>
