<% 
url_path = ''
method = ''
if @custom_search_engine.new_record?
  url_path = cses_path
  method = 'post'
else
  url_path = cse_path
  method = 'put'
end
%>
<% @custom_search_engine.build_specification if @custom_search_engine.specification.blank? %>
<% @custom_search_engine.labels.build if @custom_search_engine.labels.blank? %>
<% @custom_search_engine.annotations.build if @custom_search_engine.annotations.blank? %>
<% @custom_search_engine.build_theme if @custom_search_engine.theme.blank? %>
<% @custom_search_engine.tags.build if @custom_search_engine.tags.blank? %>
<%= form_for @custom_search_engine, url: url_path, method: method.to_sym do |f| %>
  <%= f.hidden_field :node_id %>
  <%= render partial: 'shared/error_messages', 
    locals: {object: f.object, error_title: I18n.t('human.errors.general')} %>
  <%= render partial: 'cse_specification', locals: {cse_form: f} %>
  <%= render partial: 'cse_labels', locals: {cse_form: f} %>
  <%= render partial: 'cse_annotations', locals: {cse_form: f} %>
  <%= render 'look_and_feel', cse_form: f %>
  <div class="row-fluid">
  <div class="control-group">
      <div class="controls">
        <%= f.submit I18n.t("human.controls.link.save"), 
              class: "btn btn-primary btn-large pull-right", id: "cse-save" %>
      </div>
  </div>
  </div>
<% end %>
