<div class="container cse-container">
  <div class="row">
    <div class="span9">
      <div class="well">
      <!-- dashboard cses -->
      <div class="row-fluid">
        <span class="label label-important normal-font"><%= t('human.text.dashboard') %></span>
        <span class="badge"><%= @dashboard_cses.count %>/<%= user_signed_in? ? "10" : "5" %></span>
      </div>
      <div class="row-fluid cse-container-normal">
        <% if @dashboard_cses.any? %>
        <%= form_tag dashboard_save_cses_path, {method: 'post'} do %>
        <ul id="dashboard-cses" class="cse-sortable">
          <% @dashboard_cses.each do |cse| %>
           <li class="ui-state-default"><%= render partial: 'shared/cse_info', locals: {cse: cse} %><span class="divider">•</span><span class="muted"><%= t('human.text.creator') %></span><%= link_to cse.author.username, user_path(cse.author) %><span class="divider">•</span><span class="muted"><%= time_ago_in_words(cse.created_at) %></span><% if cse.parent.present? %><span class="divider">•</span><span class="muted"><%= t('human.text.cloned_from') %></span><%= link_to cse.parent.specification.title[0,10], cse_path(cse.parent) %><% end %>
            <span class="dashboard-cse-remove pull-right"><i class="icon-remove"></i></span>
            <input type="hidden" name="saved_cses[]" value="<%= cse.id %>" />
           </li> 
          <% end %>
        </ul>
        <input type="submit" value="<%= t('human.controls.link.save') %>" class="btn" />
        <% end %>
        <% else %>
          <%= t('human.text.no_records') %>
        <% end %>
      </div>
      <% if user_signed_in? %>
      <!-- created cses -->
      <div class="cse-divider"></div>
      <div class="row-fluid cse-container-medium">
        <span class="label label-important normal-font"><%= t('human.text.created_cses_by_me') %></span>
      </div>
      <div class="row-fluid cse-container-normal">
        <% if @created_cses.present? %>
        <ul class="cse-draggable">
          <% @created_cses.each do |cse| %>
            <li class="cse-to-dashboard <%= @dashboard_cses.include?(cse) ? "ui-state-default" : "ui-state-highlight" %>"><%= render partial: 'shared/cse_info', locals: {cse: cse} %><span class="divider">•</span><span class="muted"><%= time_ago_in_words(cse.created_at) %></span><% if cse.parent.present? %><span class="divider">•</span><span class="muted"><%= t('human.text.cloned_from') %></span><%= link_to cse.parent.specification.title[0,10], cse_path(cse.parent) %><% end %>
            <% unless @dashboard_cses.include?(cse) %>
            <input type="hidden" name="saved_cses[]" value="<%= cse.id %>" />
            <% end %>
            </li>
          <% end %>
        </ul>
        <% else %>
          <%= t('human.text.no_records') %>
        <% end %>
      </div>
      <% end %>
      <!-- keeped cses -->
      <div class="cse-divider"></div>
      <div class="row-fluid cse-container-medium">
        <span class="label label-important normal-font"><%= t('human.text.keeped_cses_by_me') %></span>
        <span class="badge"><%= @keeped_cses.count %>/<%= user_signed_in? ? 20 : 10 %></span>
      </div>
      <div class="row-fluid cse-container-normal">
        <% if @keeped_cses.any? %>
        <%= form_tag keepedcses_save_cses_path, {method: 'post'} do %>
        <ul class="cse-draggable">
        <% @keeped_cses.each do |cse| %>
          <li class="cse-to-dashboard <%= @dashboard_cses.include?(cse) ? "ui-state-default" : "ui-state-highlight" %>"><%= render partial: 'shared/cse_info', locals: {cse: cse} %><span class="divider">•</span><span class="muted"><%= t('human.text.creator') %></span><%= link_to cse.author.username, user_path(cse.author) %><span class="divider">•</span><span class="muted"><%= time_ago_in_words(cse[:keeped_at].present? ? cse.keeped_at : cse.created_at) %></span><% if cse.parent.present? %><span class="divider">•</span><span class="muted"><%= t('human.text.cloned_from') %></span><%= link_to cse.parent.specification.title[0,10], cse_path(cse.parent) %><% end %>
            <span class="dashboard-cse-remove pull-right"><i class="icon-remove"></i></span>
            <input type="hidden" name="saved_cses[]" value="<%= cse.id %>" />
          </li>
        <% end %>
        <input type="submit" value="<%= t('human.controls.link.save') %>" class="btn" />
        </ul>
        <% end %>
      <% else %>
        <%= t('human.text.no_records') %>
      <% end %>
      </div>
      </div>
    </div>
    <div class="span3">
      <!-- cse dashboard start-->
      <%= render 'shared/dashboard' %>
      <!-- cse dashboard end --> 
    </div>
  </div>
</div>
<% content_for :body_bottom_script do %>
<script type="text/javascript">
  $(function(){
    $( "#dashboard-cses" ).sortable({
            revert: true
        });
    $( ".cse-to-dashboard" ).draggable({
            connectToSortable: "#dashboard-cses",
            helper: "clone",
            revert: "invalid"
        });
    $( "ul, li" ).disableSelection();

    $('.dashboard-cse-remove').click(function(){
      $(this).closest('li').remove();
    })
  })
</script>
<% end %>