<% provide :title, @query %>
<div class="container cse-container">
  <div class="row">
    <div class="span9">
        <!-- cse search box start -->
        <%= render 'custom_search_engines/cse_search_box' %>
        <!-- cse search box end -->
        <div class="row-fluid cse-container-normal">
        	<div class="span11" id="cse-result"></div>
        </div>
    </div>
    <div class="span3">
      <!-- cse recommendation start-->
      <%= render 'shared/dashboard' %>
      <!-- cse recommendation end --> 
    </div>
  </div>
</div>

<% content_for :head_script do %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33845460-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>

<% content_for :body_bottom_script do %>
<script type="text/javascript">
	function showSidebar(){
		$('#cse-recommend-side').show();
		$('#cse-ads').show();
	}

	var myCallback = function() {
	  if (document.readyState == 'complete') {
	    // Document is ready when CSE element is initialized.
	    showSidebar();
	    google.search.cse.element.render(
	        {
	          div: "cse-result",
	          tag: 'searchresults-only'
	         }).execute('<%= @query %>');
	  } else {
	    // Document is not ready yet, when CSE element is initialized.
	    showSidebar();
	    google.setOnLoadCallback(function() {
	        google.search.cse.element.render(
	            {
	              div: "cse-result",
	              tag: 'searchresults-only'
	            }).execute('<%= @query %>');
	    }, true);
	  }
	};

	// Insert it before the CSE code snippet so that cse.js can take the script
	// parameters, like parsetags, callbacks.
	window.__gcse = {
	  parsetags: 'explicit',
	  callback: myCallback
	};
	(function() {
	    var cref = '<%= cse_url(@linked_cse, format:'xml', t: @linked_cse.updated_at.to_i) %>'
	    var gcse = document.createElement('script'); 
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cref=' + cref;
	  	//gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0]; 
	    s.parentNode.insertBefore(gcse, s);
	  
	  //bind search button
	  $("#cse-go").click(function(){
	    $("#cse-result").html('');
	    var q = $("#cse-query").val();
	    if(q){
			search_url = 'http://' + window.location.host + '/q/' + q;
			window.location.href = search_url
	    }
	  });

	 })();
</script>
 <% end %>
