<% @custom_search_engine.build_theme if @custom_search_engine.theme.blank? %>
<div class="container">
	<div class="row">
		<div class="span7 offset1">
			<!-- breadcrumb -->
			<div class="row-fluid">
				<%= render 'nodes/breadcrumb' %>
			</div>

			<!-- CSE contents -->
			<div class="row-fluid">
				<div class="well">
				<div class="row-fluid">
					<div class="span10"><h4><%= @custom_search_engine.specification.title %></h4></div>
					<div class="pull-right"><%= get_avatar(@custom_search_engine.author) %></div>
				</div>
				
				<div class="row-fluid">
					<div class="cse-grid">
						<div class="row-fluid">
						<%= link_to @custom_search_engine.author.username, user_path(@custom_search_engine.author) %><small class="muted"><%= @custom_search_engine.author.mood.present? ? " (#{@custom_search_engine.author.mood})" : "" %></small><span class="divider">•</span><span class="muted"><%=  time_ago_in_words(@custom_search_engine.created_at)%></span><span class="divider">•</span><span class="muted"><%= t('human.text.browse') %>&nbsp;<%= @custom_search_engine.browse_count %></span><span class="divider">•</span><span class="muted"><%= t('human.text.keeps') %>&nbsp;<%= @custom_search_engine.keep_count %></span>
						<div class="btn-group pull-right">
							<% if user_signed_in? && @custom_search_engine.author == current_user %>
							<%= link_to '<i class="icon-trash"></i>'.html_safe, cse_path(@custom_search_engine), class: "btn", title: t("human.controls.link.delete"), method: 'delete', confirm: I18n.t('human.text.are_u_sure') %>
							<%= link_to '<i class="icon-edit"></i>'.html_safe, 
										edit_cse_path(@custom_search_engine), class: "btn", 
										title: t('human.controls.link.edit') %>
							<% if @custom_search_engine.status == 'draft'%>
							<%= link_to '<i class="icon-share"></i>'.html_safe, 
										share_cse_path(@custom_search_engine), class: "btn", 
										title: t('human.controls.link.publish') %>
							<% end %>
							<% end %>
							<%= link_to '<i class="icon-search"></i>'.html_safe, cse_query_path(id: @custom_search_engine.id) ,class: 'btn', title: t('human.text.try_search') %>
						</div>
						</div>
					</div>
					<% if @custom_search_engine.specification.description.present? %>
					<div class="cse-grid">
						<blockquote>
  							<%= simple_format(h(@custom_search_engine.specification.description),
  												class: 'cse-word') %>
						</blockquote>
					</div>
					<% end %>
					<div class="row-fluid">
						<div class="cse-box">
							<% if @valid_labels.present? %>
							<div class="row-fluid">
							<h5><%= t('human.text.what_is_labels') %></h5>
								<% @valid_labels.each do |vl| %>
										<span class="label label-info"><%= vl %></span>
								<% end %>
							</div>
							<div class="cse-divider"></div>
							<% end %>
							
							<% if @labels_hash.any? %>
								<% @labels_hash.each do |label, annotations| %>
									<div class="row-fluid cse-grid cse-word">
										<h5><span class="label label-info"><%= label %></span></h5>
										<% annotations.each do |a| %>
											<%= render 'annotation', annotation: a %>
										<% end %>
									</div>
									<div class="cse-divider"></div>
								<% end %>
							<% end %>
							
							<% if @no_labels_arr.any? %>
								<% @no_labels_arr.each do |a| %>
									<div class="row-fluid cse-grid cse-word">
										<%= render 'annotation', annotation: a %>
									</div>
								<% end %>
								<div class="cse-divider"></div>
							<% end %>
							
							<div class="row-fluid cse-theme-show">
							<h5><%= t('human.text.what_is_theme') %></h5>
							<div class="row-fluid"><%= generate_themes_html(@custom_search_engine.theme,
									[@custom_search_engine.theme.name]) %></div>
							</div>
							
							<%= raw get_keep_or_remove_html(@custom_search_engine) %>
							<% if user_signed_in? %>
							<% unless current_user.own_cse?(@custom_search_engine) %>
							<div class="row-fluid cse-grid">
								<div class="span6 offset3">
									<%= link_to t('human.text.clone_current_cse'), 
											clone_cse_path(@custom_search_engine),
											confirm: I18n.t('human.text.are_u_sure'), 
											class: 'btn btn-block' %>
								</div>
							</div>
							<% end %>
							<% end %>
							<div id="cse-consumers" class="row-fluid">
							<% consumers = @custom_search_engine.get_consumers %>
							<% if consumers.any? %>
							<div id="cse-consumers-divider" class="cse-divider"></div>
								<p id="cse-keep-note" class="muted"><%= t('human.text.cse_friends') %></p>
								<% consumers.each do |consumer| %>
								<%= render partial: 'consumer', locals: {consumer: consumer} %>
								<% end %>
								<% if consumers.count > 50 %>
									<div class="row-fluid">
										<div class="span2 offset9"><%= link_to I18n.t('human.text.display_more'), consumers_cse_path(@custom_search_engine), remote: true, id: 'more_consumers' %></div>
									</div>
								<% end %>
							<% end %>
							</div>
						</div>
					</div>
				</div>
				</div>				
			</div>
			<div class="row-fluid">
				<%= render partial: 'shared/modal_box' %>
			</div>
			<% if @custom_search_engine.status == 'publish' %>
			<!-- Replies and reply box -->
			<%= render partial: 'replies/index', locals: {object: @custom_search_engine} %>
			<% end %>
		</div>
		<div class="span3">
			<%= render 'shared/dashboard' %>
		</div>
	</div>
</div>
