<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7 offset2">
			<!-- breadcrumb -->
			<div class="row-fluid">
				<%= render 'nodes/breadcrumb' %>
			</div>

			<!-- CSE contents -->
			<div class="row-fluid">
				<div class="well">
				<h3><%= escape_javascript(@custom_search_engine.specification.title) %></h3>
				<div class="row-fluid">
					<div class="cse-grid"><%= link_to @custom_search_engine.author.username, user_path(@custom_search_engine.author) %><span class="divider">•</span><span class="muted"><%=  time_ago_in_words(@custom_search_engine.created_at)%></span>
					</div>
					<div class="cse-grid cse-word">
						<blockquote>
  							<p><%= escape_javascript(@custom_search_engine.specification.description) %></p>
						</blockquote>
					</div>
					<div class="row-fluid">
						<div class="cse-box">
							<div class="row-fluid cse-grid">
								<% if @filter_annotations.any? %>
									<h5><strong><%= I18n.t('human.text.mode_filter') %></strong></h5>
									<% @filter_annotations.each do |annotation| %>
									<p><%= annotation.about %></p>
									<% end %>
								<% end %>
							</div>
							<div class="row-fluid cse-grid">
								<% if @exclude_annotations.any? %>
									<h5><strong><%= I18n.t('human.text.mode_exclude') %></strong></h5>
									<% @exclude_annotations.each do |annotation| %>
									<p><%= annotation.about %></p>
									<% end %>
								<% end %>
							</div>
							<div class="row-fluid cse-grid cse-word">
								<% if @boost_annotations.any? %>
									<h5><strong><%= I18n.t('human.text.mode_boost') %></strong></h5>
									<% @boost_annotations.each do |annotation| %>
									<p><%= annotation.about %></p>
									<% end %>
								<% end %>
							</div>
							<div class="row-fluid cse-grid">
								<% if @custom_search_engine.consumers.include?(current_user) %>
									<div class="span6 offset3"><%= link_to  I18n.t('human.text.cancel_keep_current_cse'), cancel_cse_path(@custom_search_engine), confirm: I18n.t('human.text.are_u_sure'), remote: true, class: 'btn btn-block', id: 'cse-keep-btn' %></div>
								<% else %>
									<div class="span6 offset3"><%= link_to I18n.t('human.text.keep_current_cse'), keep_cse_path(@custom_search_engine), confirm: I18n.t('human.text.are_u_sure'), remote: true, class: 'btn btn-block', id: 'cse-keep-btn' %></div>
								<% end %>
								
							</div>
							<% unless @custom_search_engine.author == current_user %>
							<div class="row-fluid cse-grid">
								<div class="span6 offset3"><a href="javascript:void(0)" class="btn btn-block"><%= I18n.t('human.text.get_current_cse') %></a></div>
							</div>
							<% end %>
							<div id="cse-consumers">
							<% if @custom_search_engine.consumers.any? %>
								<div class="cse-divider" id="cse-consumers-divider" ></div>
								<% @custom_search_engine.consumers[0...10].each do |consumer| %>
								<%= render partial: 'consumer', locals: {consumer: consumer} %>
								<% end %>
								<% if @custom_search_engine.consumers.count > 10 %>
									<div class="row-fluid">
										<div class="span9"></div>
										<div class="span2"><%= link_to I18n.t('human.text.display_more'), cse_consumers_path(@custom_search_engine), remote: true, id: 'more_consumers' %></div>
										<div class="span1"></div>
									</div>
								<% end %>
							<% end %>
							</div>
						</div>
					</div>
				</div>
				</div>				
			</div>
			<div class="row-fluid">
				<%= render partial: 'shared/modal_box' %>
			</div>
			<!-- Replies and reply box -->
			<%= render partial: 'replies/index', locals: {object: @custom_search_engine} %>
		</div>
	</div>
</div>