<div class="row-fluid cse-container-small">
  <% object.each do |notification| %>
  <div id="<%= notification.id %>" class="cse-notification">
    <div class="cse-divider"></div>
    <div class="row-fluid">
      <div class="span1">
        <%= get_avatar(User.find(notification.sender_id)) %>
      </div>
      <div class="span11">
        <div class="row-fluid">
          <%= raw notification.title %><span class="divider">•</span><span class="muted"><%=  time_ago_in_words(notification.created_at)%></span>
          <% unless notification.read %>
            <span class="label label-info">new</span>
          <% end %>
          <%= link_to I18n.t('human.controls.link.delete'), notification, 
          method: :delete, remote: true, class: 'btn pull-right' %>
        </div>
        <div class="row-fluid">
          <%= simple_text(notification.body) %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
