<%= form_for @user, html: {class: 'form-horizontal', multipart: true} do |f| %>
<ul class="nav nav-pills">
	<li class="active">
	<%= link_to t('human.text.profile_setting'), edit_user_path(@user) %>
	</li>
</ul>
<div class="cse-divider"></div>
<div class="cse-container-medium">
<%= render partial: 'shared/error_messages', locals: {object: f.object, error_title: I18n.t('human.errors.general')} %>
<div class="row-fluid">
	<div class="span2 offset1">
		<%= get_avatar(@user, 'big') %>
	</div>
	<div class="span7">
	<div class="control-group">
		<%= f.label :email, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :email, disabled: true %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :username, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :username %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :mood, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :mood, placeholder: t('human.text.chars_limit', minimum: 0, maximum: 20) %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :avatar, class: 'control-label' %>
		<div class="controls">
			<%= f.file_field :avatar %>
		</div>
	</div>
	<div class="control-group">
	  <div class="controls">
	    <%= f.submit I18n.t("human.controls.link.save"), class: "btn btn-primary" %>
	  </div>
	</div>
	</div>
</div>
</div>
<% end %>
