<%= form_for @user do |f| %>
		<%= render partial: 'shared/error_messages', locals: {errors: @user.errors, error_title: I18n.t('human.errors.register')} %>
    <div class="row">
      <div class="span3 offset1">
		<div class="control-group">
		<%= f.label :username, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :username, class: 'span3' %>
		</div>
		</div>

		<div class="control-group">
		<%= f.label :email, class: 'control-label' %>
		<div class="controls">
      		<%= f.text_field :email, class: 'span3' %>
      	</div>
      	</div>

      	<div class="control-group">
      	<%= f.label :password, class: 'control-label' %>
      	<div class="controls">
      	<%= f.password_field :password, class: 'span3' %>
      	</div>
      	</div>

      	<div class="control-group">
      	<%= f.label :password_confirmation, class: 'control-label' %>
      	<div class="controls">
     	<%= f.password_field :password_confirmation, class: 'span3' %>
     	</div>
     	</div>

     	<div class="control-group">
     	<div class="controls">
     		<%= f.label :agreement do %>
     			<%= f.check_box :agreement, checked: "checked" %> 同意<%= link_to I18n.t('human.controls.link.protocol'), agreement_path %>
     		<% end %>
     		<%= f.submit I18n.t('human.controls.link.create'), class: "btn btn-large btn-primary" %>
     	</div>
     	</div>
     </div>
   </div>
	<% end %>