<div class="container cse-container">
<div class="row">
<div class="span6 offset3">
<div class="row-fluid">
	<h3>更改密码</h3>

	<%= form_for(resource, :as => resource_name, :url => edit_password_path, :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div><%= f.label :password, "New password" %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Change my password" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
