<div class="container cse-container">
<div class="row">
<div class="span6 offset3">
<div class="row-fluid">
	<%= form_for(resource, :as => resource_name, :url => user_password_path, :html => { :method => :put, class: "form-horizontal" }) do |f| %>
		<%= render partial: 'shared/error_messages', locals: {object: f.object, 
	  							error_title: I18n.t('human.errors.general')} %>
	  <%= f.hidden_field :reset_password_token %>
	  <div class="control-group">
	  	<%= f.label :password, t('devise.passwords.new_password'), class: "control-label" %>
	  	<div class="controls"><%= f.password_field :password %></div>
	  </div>
	  <div class="control-group">
	  	<%= f.label :password_confirmation, t('devise.passwords.confirm_password'), class: "control-label" %>
	  	<div class="controls"><%= f.password_field :password_confirmation %></div>
	  </div>
	  <div class="control-group">
	  	<div class="controls"><%= f.submit t('devise.passwords.reset_password'), class: "btn" %></div>
	  </div>
	<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
