<h3>欢迎加入<%= link_to 'Cookgoogle', about_path, target: '_blank' %></h3>
<p class="cse-word">这是一个可以方便地发现、创建和分享各种主题搜索的网络社区。
    比如搜索<%= link_to '游戏', node_tag_path(@hash_tag['游戏'].node, @hash_tag['游戏']), target: '_blank' %>，
    <%= link_to '电影', node_tag_path(@hash_tag['电影'].node, @hash_tag['电影']), target: '_blank' %>等
    <%= link_to '兴趣类', node_path(@hash_node['兴趣']), target: '_blank' %>，
    <%= link_to '程序员', node_tag_path(@hash_tag['程序员'].node, @hash_tag['程序员']), target: '_blank' %>
    <%= link_to '会计师', node_tag_path(@hash_tag['会计师'].node, @hash_tag['会计师']), target: '_blank' %>等
    <%= link_to '职业类', node_path(@hash_node['职业']), target: '_blank' %>, 
    或者<%= link_to '医疗', node_tag_path(@hash_tag['医疗'].node, @hash_tag['医疗']), target: '_blank' %>
    <%= link_to '购物', node_tag_path(@hash_tag['购物'].node, @hash_tag['购物']), target: '_blank' %>等
    <%= link_to '分享类', node_path(@hash_node['分享']), target: '_blank' %>。</p>
<p class="cse-word">人们在使用主题搜索的过程中，还能找到朋友。</p>
<p class="cse-word">搜索服务由<a href="https://www.google.com/cse">Google自定义搜索引擎</a>奋力驱动。</p>
