<li class="cse-link <%= 'cse-selected' if cse == @linked_cse %>" id="dashboard-cse-<%= cse.id %>">
	<%= link_to truncate(cse.specification.title, length: 12 ), cse_path(cse), 
				title: cse.specification.title %>
	 <div class="controls-row pull-right">
	  <a href="javascript:void(0)" class="link-cse" title="Link"><i class="icon-search icon-white"></i></a>
	  <%= hidden_field_tag :cseid, cse.id %>
	</div>
	<div class="hide">
	<span class="muted"><%= I18n.t('human.text.active_cse') %></span>
	<%= render partial: 'shared/cse_info', locals: {cse: cse} %>
    <div class="row-fluid">
      <%= render 'cse_tags', cse: cse %>
      <%= render 'cse_facet_labels', cse: cse %>
      <div class="row-fluid cse-container-small">
        <p class="muted"><%= t('human.text.preference') %></p>
        <%= render 'cse_preference', cse: @active_cse %>
      </div>
      <%= render 'cse_description', cse: cse %>
    </div>
	</div>
</li>
