<div class="row-fluid">
   <div class="well">
    <div class="row-fluid">
      <p><%= t('human.text.dashboard')%></p>
      <div class="row-fluid">
        <%= link_to raw(t('human.controls.link.start_search')), 
          cse_search_path, class: 'btn btn-block btn-info btn-large' %>
      </div>
      <div class="cse-divider"></div>
      <ul class="nav nav-list cse-nav-list" id="dashboard-cse">
          <% if @dashboard_cses.present? %>
            <% @dashboard_cses.each do |cse| %>
            <% unless cse.nil? %>
            <%= render partial: 'shared/dashboard_cse', locals: {cse: cse} %>
            <% end %>
            <% end %>
          <% else %>
            <li><%= I18n.t('human.text.no_cses_ondashboard') %></li>
          <% end %>
      </ul>
      <div class="cse-container-medium pull-right"><%= link_to t('human.controls.link.manage_cses'), cses_path %></div>
    </div>
    </div>
</div>
