<div class="row-fluid">
   <div class="well">
    <div class="row-fluid">
      <ul class="nav nav-list cse-nav-list" id="dashboard-cse">
          <li class="nav-header cse-small"><a href="<%= cse_search_path %>"><%= t('human.text.dashboard') + " - " + I18n.t('human.controls.link.start_search') %> <i class="icon-search"></i></a>
</li>
          <% if @dashboard_cses.present? %>
            <% @dashboard_cses.each do |cse| %>
            <% unless cse.nil? %>
            <%= render partial: 'shared/keeped_cse', locals: {cse: cse} %>
            <% end %>
            <% end %>
          <% else %>
            <li><%= I18n.t('human.text.no_cses_ondashboard') %></li>
          <% end %>
      </ul>
      <div class="cse-container-medium pull-right"><%= link_to t('human.controls.link.manage_cses'), cses_path %></div>
    </div>
    </div>
</div>