<%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
<div class="row-fluid">
<div class="control-group">
	<%= f.label :email, I18n.t('mongoid.attributes.user.email') %>
	<div class="controls">
		<%= f.text_field :email, class: 'span12' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password, I18n.t('mongoid.attributes.user.password') %>
	<div class="controls">
		<%= f.password_field :password, class: 'span12' %>
	</div>
</div>
<div class="control-group">
<div class="control">
	<%= f.submit I18n.t('human.controls.link.signin'), class: 'btn btn-primary btn-large', id:'signin' %>
	<% if devise_mapping.rememberable? %>
		<%= f.label :remember_me, class: 'cse-label-horizontal' do %>
			<%= f.check_box :remember_me, checked: 'checked' %> <%= I18n.t('human.text.remember_me') %>
		<% end %>
	<% end %>
 	<%= link_to t('human.controls.link.reset_password'), new_user_password_path %>
 	<span class="divider">|</span><%= link_to t('human.controls.link.need_confirm'), new_user_confirmation_path %>
</div>
</div>
</div>
<% end %>
