<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <%= render 'layouts/shim' %>
 <%= content_for :head_script %>
</head>
<body>
 <%= render 'layouts/header' %>
<div class="cse-wrapper cse-container-medium">
<% flash.each do |key, value| %>
	<% unless key.to_s == 'timedout' %>
		<div class="alert alert-<%= key %>">
			<a href="#" class="close" data-dismiss="alert">×</a>
			<%= value %>
		</div>
	<% end %>
<% end %>
<%= yield %>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
 <%= content_for :body_bottom_script %>
</body>
</html>
